# Examples

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import datetime as dt

import pandas as pd

from cro.schedule import Client, Schedule

In [5]:
client = Client() # Set the station id (sid) later.

In [4]:
date: str = '2022-03-14'

data: list[Schedule] = []
for sid in ('plus', 'radiozurnal'):
    client.station = sid
    schedules = client.get_week_schedule(date)
    
    for schedule in schedules:
        # print(schedule.date, schedule.station.name, len(schedule.shows))
        data.append(schedule.to_table())
        # Write single dataset to Excel.
        with pd.ExcelWriter(f"../data/sheet/Schedule_{schedule.station.name}_W{schedule.date}.xlsx") as writer:
            data[-1].to_excel(writer)  
      
# Write concatenated datasets to Excel.      
with pd.ExcelWriter(f"../data/sheet/Schedule_W{date}.xlsx") as writer:
    pd.concat(data).to_excel(writer)

## __Get the schedule for current day and given station__

In [5]:
schedule = client.get_day_schedule()

# for show in schedule.shows[0:3]: print(show)

In [8]:
df = schedule.to_table()

# with open("Schedule.html", "w") as file:
#     file.write(df.to_html())

# with pd.ExcelWriter("Schedule.xlsx") as writer:
#     df.to_excel(writer)  
    
df.head(5)

,id,kind,title,station,description,since,till,duration,persons,repetition
0,17750161,zpr,Zprávy,radiozurnal,"Zpravodajství z Česka i ze světa. Sport, Zelen...",2022-03-22 00:00:00,2022-03-22 00:09:00,00:09:00,None,False
1,17750164,pub,Dvacet minut Radiožurnálu,radiozurnal,"Hostem je Josef Středula, předseda Českomoravs...",2022-03-22 00:10:00,2022-03-22 00:30:00,00:20:00,"({'id': 5004021, 'name': 'Vladimír Kroc'},)",True
2,17750165,zpr,Zprávy,radiozurnal,"Z domova i ze světa. Sport, Zelená vlna a poča...",2022-03-22 00:30:00,2022-03-22 00:32:00,00:02:00,None,False
3,17750168,mag,Noční Radiožurnál,radiozurnal,Aktuální reportáže a nejrychlejší zpravodajstv...,2022-03-22 00:33:00,2022-03-22 01:00:00,00:27:00,None,False
4,17750169,zpr,Zprávy,radiozurnal,"Zpravodajství z Česka i ze světa. Sport, Zelen...",2022-03-22 01:00:00,2022-03-22 01:04:00,00:04:00,None,False

## Get schedules for a whole year by months

In [16]:
import datetime as dt

year = 2022
month_dates = [dt.date(year, month, 1) for month in range(1, 3)]
data: dict[Schedule, pd.DataFrame] = {}

print(month_dates)
for sid in ('plus', 'radiozurnal'):
    client.station = sid
    for date in month_dates:
        schedules = client.get_month_schedule(date)
        for schedule in schedules:
            print(schedule.date)
            data[schedule] = schedule.to_table()

[datetime.date(2022, 1, 1), datetime.date(2022, 2, 1)]
2022-01-01
2022-01-02
2022-01-03
2022-01-04
2022-01-05
2022-01-06
2022-01-07
2022-01-08
2022-01-09
2022-01-10
2022-01-11
2022-01-12
2022-01-13
2022-01-14
2022-01-15
2022-01-16
2022-01-17
2022-01-18
2022-01-19
2022-01-20
2022-01-21
2022-01-22
2022-01-23
2022-01-24
2022-01-25
2022-01-26
2022-01-27
2022-01-28
2022-01-29
2022-01-30
2022-01-31
2022-02-01
2022-02-02
2022-02-03
2022-02-04
2022-02-05
2022-02-06
2022-02-07
2022-02-08
2022-02-09
2022-02-10
2022-02-11
2022-02-12
2022-02-13
2022-02-14
2022-02-15
2022-02-16
2022-02-17
2022-02-18
2022-02-19
2022-02-20
2022-02-21
2022-02-22
2022-02-23
2022-02-24
2022-02-25
2022-02-26
2022-02-27
2022-02-28
2022-01-01
2022-01-02
2022-01-03
2022-01-04
2022-01-05
2022-01-06
2022-01-07
2022-01-08
2022-01-09
2022-01-10
2022-01-11
2022-01-12
2022-01-13
2022-01-14
2022-01-15
2022-01-16
2022-01-17
2022-01-18
2022-01-19
2022-01-20
2022-01-21
2022-01-22
2022-01-23
2022-01-24
2022-01-25
2022-01-26
2022-01-27
2022-01-28
2022-01-29
2022-01-30
2022-01-31
2022-02-01
2022-02-02
2022-02-03
2022-02-04
2022-02-05
2022-02-06
2022-02-07
2022-02-08
2022-02-09
2022-02-10
2022-02-11
2022-02-12
2022-02-13
2022-02-14
2022-02-15
2022-02-16
2022-02-17
2022-02-18
2022-02-19
2022-02-20
2022-02-21
2022-02-22
2022-02-23
2022-02-24
2022-02-25
2022-02-26
2022-02-27
2022-02-28

In [15]:
# Write single dataset to Excel.
for schedule, table in data.items():
    
    week_number = f"{schedule.date.isocalendar()[1]:02d}"
    week_start = schedule.date - dt.timedelta(days=schedule.date.weekday())  # Monday
    week_end = week_start + dt.timedelta(days=6)  # Sunday
    
    with pd.ExcelWriter(f"../data/sheet/{year}/Schedule_{schedule.station.name}_{year}W{week_number}_{week_start}_{week_end}.xlsx") as writer:
        table.to_excel(writer, index=False)  
      
# Write concatenated datasets to Excel.      
# with pd.ExcelWriter(f"../data/sheet/Schedule_{year}.xlsx") as writer:
#     pd.concat(data).to_excel(writer, index=False)

In [ ]:
# # Write single dataset to Excel.
# for _ in data: 
#     with pd.ExcelWriter(f"../data/sheet/Schedule_{schedule.station.name}_M{schedule.date}.xlsx") as writer:
#         _.to_excel(writer)  

# Write concatenated datasets to Excel.      
with pd.ExcelWriter(f"../data/sheet/Schedule_Y{year}.xlsx") as writer:
    pd.concat(data.values()).to_excel(writer)

# Use cases

## __Get schedule for given day and given station__

In [5]:
schedule: Schedule = client.get_day_schedule(date = dt.date(2022, 1, 31))

print(schedule)

Schedule(station=Plus, date=2022-01-31, shows=88)

## __Get schedule for a given week and given station__

In [6]:
schedules: tuple[Schedule] = client.get_week_schedule(dt.date(2022, 1, 31))

print(schedules[0])
print(schedules[-1])

Schedule(station=Plus, date=2022-01-31, shows=88)
Schedule(station=Plus, date=2022-02-06, shows=88)

## __Get schedule for a given month and given station__

In [7]:
schedules = client.get_month_schedule(date = dt.date(2022, 1, 1), time=(dt.time.min, dt.time(3, 0, 0)))

print(schedules[0])
print(schedules[-1])

Schedule(station=Plus, date=2022-01-01, shows=11)
Schedule(station=Plus, date=2022-01-31, shows=12)

In [8]:
for schedule in schedules[:3]:
    print(schedule)

Schedule(station=Plus, date=2022-01-01, shows=11)
Schedule(station=Plus, date=2022-01-02, shows=10)
Schedule(station=Plus, date=2022-01-03, shows=12)